
.card-body {
    max-width: 200px;
    background-color: #02064a;
    color: white;
    margin: .3em;
}

#card-row {
    margin-left: 2%;
}

.bg {
    background-color: #02064a;
}

/* .mt-3 {
    background-color: #02064a;
} */

/* .card {
    background-color: #02064a;
} */

.navbar {
color: white;
background-color: #02064a;
}

#search-button {
    background-color: #02064a;
}

